.App {
  text-align: center;
  height: 90vh;
  border: 1px solid grey;
  margin: 40px;
  overflow: auto;
  max-height: 95vh;
}

body {
  font-family: neue montreal;
}

#tsparticles {
  position: fixed;
  height: 50% !important;
  width: 50% !important;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-section {
  min-height: 80vh;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

img {
  border-radius: 10px;
  max-width: 90%;
  max-height: 90%;
}

.main-section > div > svg {
  height: 5em;
  width: 5em;
  opacity: 0.5;
}

.main-section > div > svg:hover {
  cursor: pointer;
}

.main-section:hover > svg {
  cursor: pointer;
}

h1 {
  color: white;
}

@media only screen and (max-width: 1550px) {
  .main-section > p {
    margin-top: 80px;
  }

  .App {
    text-align: center;
    height: 100vh;
    border: 1px solid grey;
    margin: 20px;
  }

  img {
    border-radius: 10px;
    max-width: 60%;
    max-height: 60%;
    margin-bottom: 220px;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1200px) {
  img {
    max-width: 40%;
    max-height: 40%;
  }
}

@media only screen and (max-width: 1200px) {
  img {
    margin-bottom: 120px;

    max-width: 60%;
    max-height: 60%;
  }
}

@media only screen and (max-width: 800px) {
  img {
    margin-bottom: 220px;
    margin-right: 0px;
    max-width: 50%;
    max-height: 50%;
  }
}
